.form-container {
  @include flex-col-gap-1rem;
  padding: 1rem;

  .form-control {
    @include flex-col-gap-1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  button {
    @include form-button;
  }
}
